@import url('https://fonts.googleapis.com/css2?family=Anta&family=Eagle+Lake&family=Nosifer&family=Press+Start+2P&display=swap');

body {


  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.navbg {
  background: rgba(114, 103, 103, 0.19);
  border-radius: 16px;
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(114, 103, 103, 1);
}

.icon {
  font-size: 25px;
  color: black;

}

.icon:hover {
  margin-top: -15px;
}

#header {
  position: fixed; /* Membuat navbar tetap di tempat meskipun halaman di-scroll */
  top: 50%; /* Menempatkan navbar di tengah secara vertikal */
  left: 0; /* Menempelkan navbar di sisi kanan layar */
  transform: translateY(-50%); /* Menggeser navbar agar tepat di tengah secara vertikal */
  display: flex;
  flex-direction: column; /* Menyusun elemen secara vertikal (kolom) */
  align-items: center; /* Menyelaraskan ikon secara horizontal di tengah */
  z-index: 1000; /* Menjamin navbar di atas konten lain */
  background-color: rgba(255, 255, 255, 0.8); /* Transparansi navbar (opsional) */
  padding: 10px; /* Padding di dalam navbar */
}



#header.show {
  left: -50px;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  height: 400px;
  width: 400px;
}

.floating:hover {
  transform: scale(1.5);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}


.zoom {

  transition: transform .2s;
  /* Animation */

}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}